.main {
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    
    input {
        height: 5vh;
        border-radius: 20px;
        width: 25vw;
        min-width: 35vh;
        text-align: center;
        font-size: 100%;
    }

    div {
        margin-top: 3vh;
        font-size: 4rem;
    }
}