.main {
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    
    input {
        height: 2vw;
        border-radius: 20px;
        width: 15vw;
    }

    div {
        margin-top: 3vh;
        font-size: 4rem;
    }
}